@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Roboto:wght@300;400;700&display=swap');

/* ROOT */
:root {
    --gold1: #f4bd76;
    --gold2: #f6cd8f;
    --gray: #ffffff80;
    --gray2: #f7d9d990;
    --black1: #1a1b1f;
    --black2: #30353b;
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;

}


/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
}

body {
    font-family: 'Roboto', sans-serif;
}

/**** ESTILOS NAV ****/


.hero {
    background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
}
.nav_hero {
    background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
    color: #fff;
    height: 140px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 600px) {

            .hero {
                height: 200px;
                
            }
            .nav_container {
                display: flex;
                padding-right: 40px;
                margin: auto;
                text-align: center;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                
            }
            .logo {
                position: relative;
                padding-left: 40px;
            }

            .contact_title {
                display: flex;
                max-height: 100%;
            }
            
            
}

@media screen and (min-width: 800px) {

    .hero {
        height: 180px;
        
    }
    .nav_container {
                display: flex;
                margin: auto;
                text-align: center;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
    }
    

    .contact_title {
        display: flex;
        max-height: 100%;
    }

    
}



.nav_container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    
}

.logo {
    position:relative;
    padding-left: 40px;
}

.fenixlogo {
    width: 70px;
    padding-left: 30px;
}

.fenixlogo:hover {
    scale: 1.1;
    transform: rotateY(360deg);
    transition: .6s;
}



.link {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    font-size: 20px;
    border-radius: 2px;
}


.link:hover {
    color: var(--gold1);
    transform: scale(1.1);
    transition: 1s;  
}

.link--active {
    text-decoration: none;
    color: var(--gold1);
    font-weight: 800;
    padding: 10px;
    font-size: 20px;
}

.point {
    color: var(--gold1);
}

/* ******** INDEX SECTION ********* */

.indexsection {
    background-image: url("../imagenes/fondo6.jpg");
    background-size: cover;
    background-position: center;
    height: 150vh;

}

.title {
    color: #fff;
    font-weight: 700;
    font-size: 50px;
}

.title_active {
    color: var(--gold1);
    font-weight: 700;
}

.copy {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    text-shadow: var(--shadow) var(--color_shadow);
}

.copy_active {
    font-weight: 700;
    color: #fff;
}



.hero_textos {
    display: flex;
    text-align: center;
    padding-top: 500px;
    padding-left: 10px;
    flex-direction: column;
    font-size: 12px;
}

.tecnologias {
    display: inline-block;
    position: absolute;
    padding-left: 30px;
    padding-top: 100px;
    text-align: center;
}

.tecnologias h3 {
    font-size: 25px;
    color: #fff;
}

.tecnologias img {
    width: 70px;
    padding: 10px;
}

.tecnologias img:hover {
    scale: 1.1;
    transform: rotateY(360deg);
    transition: .4s;
}

@media screen and (min-width: 576px){

    .body {
        height: 100vh;
    }

    .tecnologias {
        position: relative;
        padding-left: 20px;
        padding-top: 400px;
    }

}

@media screen and (min-width: 768px) {
    .nav_hero {
        height: 100px;
    }

    .tecnologias {
        display: none;
    }
    .tecnologias img {
        width: 80px;
    }
}

@media screen and (min-width: 1024px) {
    .nav_container {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        padding-top: 25px;
    }
    
    .nav_hero {
        height: 100px;
    }

    .tecnologias {
        display: none;
    }

    .hero_textos {
        padding-top: 900px;
    }
}

@media screen and (min-width: 1358px) {
    .nav_container {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        padding-top: 25px;
    }
    
    .nav_hero {
    background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
    color: #fff;
    height: 120px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .tecnologias {
        display: inline-block;
        padding-top: 30px;
    }

    .divtecnologias {
        padding-left: 350px;
    }
}

@media screen and (min-width: 1920px) {
.div_footer {
    display: grid;
    grid-template-columns: 5fr 5fr 5fr;
    height: 70px;
    background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
    color: #fff
}

.item_footer H3 {
    display: flex;
    justify-content: center;
}

.nav_hero {
    background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
    color: #fff;
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .nav_container {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        padding-top: 25px;
    }

    .fenixlogo {
        width: 80px;
    }

    .tecnologias {
        padding-left: 430px;
        padding-top: 550px;
    }

    .hero_textos {
        display: flex;
        text-align: left;
        padding-top: 600px;
        padding-left: 50px;
    }
}



/*** FOOTER ***/

.div_footer {
    display: grid;
    grid-template-columns: 5fr 5fr 5fr;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    height: 70px;
    background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
    color: #fff
}

.item_footer {
    justify-content: center;
    text-align: center;
    background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
    
}

div i {
    font-size: 24px;
    color: var(--gold1);
}

i:hover {
    scale: 1.2;
    transition: .5s;
}

.item_footer h3 {
    font-weight: 550;
}

/* ********* STYLES CV ********* */

.cvmain {
    background: linear-gradient(180deg, #131516 0%, #000000 100%);
    height: 130vh;
    overflow: auto;
    
}

.content-cabecera {
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-right: 50px;

}

.content-logo {
    width: 100px;
    height: 100px;
    margin: auto;
}

.content-logo img {
    padding-top: 20px;
    width: 150px
}

.content-cabecera h1 {
    top: 15px;
    font-weight: 700;
    color: #fff;
}

.container_card {
    max-width: 1200px;
    margin: auto;
    margin-top: 200px;
    color: #fff;
    perspective: 1000px;
    display: flex;
    justify-content: center;
}

.card_father {
    margin: 20px;

}

.card:hover {
        transform: rotateY(180deg);

}

.card {
    width: 400px;
    height: 550px;
    background: linear-gradient(180deg, #131516 0%, #000000 100%);
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s;
    
}

.card_front {
    background-size: cover;
}

.card_front, 
.card_back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 10px;
}

.card_back {
    transform: rotateY(180deg);
}

.bodycard_front {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    transform: translateZ(60px);
    
}

.bodycard_back {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ulcontacto {
    list-style: none;
    text-align: center;
}

.ulhabilidades {
    list-style: disc;
    text-align: left;
}

.ulcontacto li a {
    text-decoration: none;
}

.tecnologiascv {
    display: inline-block;
    text-align: center;
    padding-left: 750px;
    padding-top: 100px;
}

.tecnologiascv h3 {
    font-size: 30px;
    color: #fff;
}

.tecnologiascv img {
    width: 90px;
    padding: 10px;
}

/* ******** Proyectos ******** */ 

.bodyproyecto {
    background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
}


.navbar-expand-lg {
    background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
}


#navbarNav a:hover {
    color: antiquewhite;
}

.carousel-inner img {
    width: 1000px;
    margin: 0 auto;
}

.item_footer_proyectos h3 {
    color: antiquewhite;
    text-align: center;
    justify-content: center;
}