@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Roboto:wght@300;400;700&display=swap');
@import "variables";
@import "footer";
@import "general";
@import "nav";


/* ******** INDEX SECTION ********* */



.indexsection {
    background-image: url("../imagenes/fondo6.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    

}

.title {
    color: #fff;
    font-weight: 700;
    font-size: 50px;

.title_active {
    color: var(--gold1);
    font-weight: 700;
    }
}

.copy {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    text-shadow: var(--shadow) var(--color_shadow);
}

.copy_active {
    font-weight: 700;
    color: #fff;
}



.hero_textos {
    display: flex;
    text-align: center;
    padding-top: 500px;
    padding-left: 10px;
    flex-direction: column;
    font-size: 12px;
    width: 100%;
}



.tecnologias {
    display: inline-block;
    position: absolute;
    padding-left: 30px;
    padding-top: 100px;
    text-align: center;

        h2 {
        font-size: 25px;
        color: #fff;
    }
        img {
            width: 70px;
            padding: 10px;
        }
            img:hover {
                scale: 1.1;
                transform: rotateY(360deg);
                transition: .4s;
            }
}


/* MEDIA QUERYS INDEX */
@media screen and (min-width: 320px){

    .tecnologias {
        display: none;
    }

}

@media screen and (min-width: 768px) {

    
    .nav_hero {
        height: 100px;
    }

    .tecnologias {
        display: none;
    }
    .tecnologias img {
        width: 80px;
    }
}

@media screen and (min-width: 1024px) {
    
    
    .nav_container {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        padding-top: 25px;
    }
    
    .nav_hero {
        height: 100px;
    }

    .tecnologias {
        display: none;
    }

    .hero_textos {
        padding-top: 900px;
        width: auto;
    }
}

@media screen and (min-width: 1366px) {
    
    .nav_container {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        padding-top: 25px;
    }
    
    .nav_hero {
    background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
    color: #fff;
    height: 120px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .tecnologias {
        display: inline-block;
        padding-top: 150px;
        
    }

    

    .divtecnologias {
        padding-left: 440px;
        
        
    }
}


.hero_textos {
    display: flex;
    text-align: center;
    padding-top: 250px;
    padding-left: 10px;
    flex-direction: column;
}

.item_footer H3 {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1920px) {
    
    .div_footer {
    display: grid;
    grid-template-columns: 5fr 5fr 5fr;
    height: 70px;
    background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
    color: #fff
}

.item_footer H3 {
    display: flex;
    justify-content: center;
}

.nav_hero {
    background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
    color: #fff;
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .nav_container {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        padding-top: 25px;
    }

    .fenixlogo {
        width: 50px;
        height: 50px;
    }

    .tecnologias {
        padding-left: 295px;
        padding-top: 550px;
    }

    .hero_textos {
        display: flex;
        text-align: left;
        padding-top: 600px;
        padding-left: 50px;
    }
}


/* INDEX CV */

.cvmain {
    background: linear-gradient(180deg, #131516 0%, #000000 100%);
    height: 150vh;
    overflow: auto;

    .content-cabecera {
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-right: 10px;
            h1{
                top: 20px;
                font-weight: 700;
                color: #fff;
        }
                span {
                    color: var(--gold1);
                }
                    img {
                        padding-top: 20px;
                        margin-right: 20px;
                        width: 150px
        }
}

}

.cv-section {
    height: 120vh;
}

.container_card {
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    color: #fff;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card_father {
    margin: 20px;

}

.card:hover {
        transform: rotateY(180deg);

}

.card {
    width: 350px;
    height: 550px;
    background: linear-gradient(180deg, #131516 0%, #000000 100%);
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s;
    
}

.card_front {
    background-size: cover;
}

.card_front, 
.card_back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 10px;
}

.card_back {
    transform: rotateY(180deg);
}

.bodycard_front {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    transform: translateZ(60px);
    
}

.bodycard_back {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ulcontacto {
    list-style: none;
    text-align: center;
}

.ulhabilidades {
    list-style: disc;
    text-align: left;
}

.ulcontacto li a {
    text-decoration: none;
}

.tecnologiascv {
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;


    h2 {
        font-size: 20px;
        color: #fff;
    }

        img {
            width: 60px;
            padding: 10px;

                &:hover {
                transform: rotateY(360deg);
                transition: .4s;
            }
    }
}


@media screen and (min-width: 320px) {
    .tecnologiascv {
        padding-left: 5px;
        display: inline-block;
        text-align: center;
    }
}

@media screen and (min-width: 390px) {
    .tecnologiascv {
        padding-left: 40px;
        display: inline-block;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .tecnologiascv {
        padding-left: 230px;
    }
}

@media screen and (min-width: 1024px) {
    .tecnologiascv {
        padding-left: 350px;
        padding-top: 300px;
    }
}


@media screen and (min-width: 1280px) {
    .tecnologiascv {
        padding-left: 470px;
        padding-top: 300px;
    }
}

@media screen and (min-width: 1366px) {
    .tecnologiascv {
        padding-left: 490px;
        padding-top: 300px;

            img {
                width: 70px;
            }
    }
}

@media screen and (min-width: 1920px) {
    .tecnologiascv {
        padding-left: 735px;
        padding-top: 300px;

            h2 {
                font-size: 25px;
            }

                img {
                    width: 80px;
                }
    }
}

.content-cabecera {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-right: 10px;
        h1{
            padding-top: 20px;
            font-weight: 700;
            color: #fff;
    }
            span {
                color: var(--gold1);
            }
                img {
                    padding-top: 20px;
                    margin-right: 20px;
                    width: 150px
    }
}
/*PROYECTOS*/

.bodyproyecto {
    background: linear-gradient(180deg, #33353b 0%, #1a1b1f 100%);
    height: 100%;
    max-width: 100%;
}


.navbar-expand-lg {
    background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
        
        button {
            border: 2px solid var(--gold2);
        }
}


.navbar-nav li a {
    color: var(--gold1);
    font-size: 18px;
        
        &:hover {
            color: var(--gold2);
            transform: scale(1.2);
            transition: .5s;
        }
}

.carousel-inner img {
    width: 75%;
    margin: 0 auto;
}

.item_footer h3 {
    color: antiquewhite;
    text-align: center;
    
}

.ul-proyectos, 
.p-proyectos  {
    color: #fff;
    list-style: circle;
    text-align: left;
    padding-top: 20px;
    
}

.h2-proyectos {
    padding-top: 20px;
    padding-left: 40px;
    color: #fff;
}


.fondo2 {
    width: 100%;
    border-radius: 20px;
    padding-bottom: 20px;
}
.signo {
    color: var(--gold1);
}
/*CONTACTO*/ 

.body-contacto {
    background: linear-gradient(180deg, #131516 0%, #000000 100%);

        .contacto-section {
            height: 150vh;
        }
}

.formulario {
    color: #fff;
    padding: 1.5em;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;

        .logo {
            padding-top: 50px;
            padding-bottom: 10px;
            text-align: center;
            font-size: 2.5em;
            border-bottom: 1px solid var(--gold1);
                
        }
}

.contact-wrapper {
        padding-top: 20px;
        background-color: #222222;
        box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
            * {
                padding: 5px;
            }
}


.contact-info ul{
    list-style: none;
        li i {
            color: var(--gold1);
        }
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
        width: 100%;
        padding: .3em;
        border: none;
        background: none;
        border-bottom: 1px solid var(--gold2);
        color: white;
        outline: 0;
}

.contact-form form button {
    background: var(--gold1);
    text-transform: uppercase;
        &:hover {
            background: var(--gold2);
        }
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.block {
    grid-column: 1 / 3;
}


.contact-info h3, ul {
        text-align: center;

}


.agradecimiento {
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
}

/*MEDIA QUERY CONTACTO*/

@media screen and (min-width: 1920px) {

        .formulario {
            padding-top: 150px;

                h1 {
                    margin-bottom: 50px;
                }
        }
}


@media screen and (min-width: 1280px) {


        .formulario {
            padding-bottom: 20px;
        }
    .agradecimiento {
        padding-top: 40px;
        padding-bottom: 20px;
    }
}


@media screen and (min-width: 1024px) {

    .formulario {
        padding-top: 350px;

            h1 {
                margin-bottom: 50px;
            }
    }
                .agradecimiento {
                    padding-bottom: 20px;
                }
}

@media screen and (min-width: 700px) {

    .formulario {
        padding-top: 150px;

            h1 {
                margin-bottom: 50px;
            }
    }
}