
/**** ESTILOS NAV ****/
.nav_hero {
    background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
    color: #fff;
    height: 160px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    .nav_container {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        
        .logo {
            position:relative;
            padding-left: 40px;
        }
            .fenixlogo {
                width: 80px;
                padding-left: 30px;
        }
                a {
                    display: inline-block;
                    color: inherit;
                    text-decoration: none;
                    font-weight: 600;
                    padding: 10px;
                    font-size: 20px;
                    border-radius: 2px;

                    &:hover {
                        color: var(--gold1);
                        transform: scale(1.1);
                        transition: 1s;  
        }
        }
        .point {
            color: var(--gold1);
        }        
    }
}


/* MEDIA QUERYS NAV */ 
@media screen and (max-width: 600px) {

    .hero {
        height: 220px;
        
    }
    .nav_container {
        display: flex;
        padding-right: 40px;
        margin: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    }
    .logo {
        position: relative;
        padding-left: 40px;
    }

    .contact_title {
        display: flex;
        max-height: 100%;
    }
    
    
}

@media screen and (min-width: 800px) {

.hero {
height: 180px;

    }
.nav_container {
        display: flex;
        margin: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }


.contact_title {
display: flex;
max-height: 100%;
    }
}